<p><b>Here is the Lightning Forecast for You</b> </p>
<p1>In the table shown below you can view the Asset with respective owner where lightning will strike.</p1>
<div ng-app="forecastApp" ng-controller="LightningCtrl"> 
   <table> 
      <tr>
        <th>Asset Name</th>
        <th>Asset Owner</th>
      </tr>    
      <tr ng-repeat="asset in  finalAssetData ">
         <td>{{asset.assetOwner }}</td>
        <td>{{asset.assetName }}</td>
      </tr>
    </table>
  </div>
